<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col" id="infos">
                <h4>Contact Information</h4>
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i>3891 Ranchview Dr. Richardson, California 62639 USA</li>
                    <li><i class="fa-solid fa-phone"></i>(603) 555-0123</li>
                    <li><i class="fa-solid fa-envelope"></i>georgia.young@example.com</li>
                </ul>
            </div>
            <div class="footer-col" id="reseaux">
                <h4>Rejoignez-nous</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>