<%- include('more/header.ejs') %>

    <div class="container_index">
        <div class="content">
            <div class="description">
                <h2>Bienvenue sur la page home</h2>
            </div>
            <div class="image">
                <img src="./img/home.png" alt="welcome">
            </div>
            <div class="lorem">
               <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat voluptatum et, porro maxime veritatis
                cumque laborum sequi, sit omnis consequuntur quia ex voluptates quam obcaecati libero deleniti. Harum,
                enim quas!</p>
            </div>
        </div>
    </div>
    
<%- include('more/footer.ejs') %>