/************general************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 100ms ease;
  font-weight: 400;
}

:root {
  --text-color: #bbbbbb;
  --background-darkmode: #0b0b0b;
  --light-darkmode: #0b0b0b6d;
  --purple: #a04bff;
  --light-purple: #9f4bffdb;
  --dark-purple: #6d38aa;
  --dark-purplev2: #9f4bff37;
  --background: #c9c9c9;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --gradient: linear-gradient(
    180deg,
    rgba(160, 75, 255, 1) 0%,
    rgba(92, 51, 139, 1) 100%
  );
  --error-color: #b2429e;
}

ul li {
  list-style-type: none;
}

body,
html {
  scroll-behavior: smooth;
}

body.light {
  --current-background: var(--background);
  --current-text-color: var(--background-darkmode);
}

body {
  --current-background: var(--background-darkmode);
  --current-text-color: var(--background);
}

body {
  background-color: var(--current-background);
  color: var(--current-text-color);
}

main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}

a {
  color: var(--background-darkmode);
}

a.light {
  color: var(--background-darkmode) !important;
}

#name-top a.light {
  color: var(--background-darkmode) !important;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.my-15 {
  margin: 15px 0px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.second-title h3 {
  font-size: 26px;
}

.title hr {
  color: var(--dark-purple);
  width: 100px;
  text-align: center;
  margin-top: 8px;
}

.fw {
  font-weight: 300;
}

/************general************/

/************nav************/

/* #navbar {
  position: fixed;
  z-index: 100;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: var(--background-darkmode);
  box-shadow: 0 4px 4px hsla(0, 0%, 13.7%, 0.3);
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav.light {
  background-color: var(--background);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

#name-top {
  color: var(--text-color);
}

#name-top.light {
  color: var(--background-darkmode);
}

/************nav************/

/************lightmode************/

.switch {
  position: relative;
  width: 3.5rem;
  height: 2rem;
  margin-left: 35px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(215, 215, 228);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 20px;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #7337b8, #a759ff 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #37393f;
}

input:checked + .slider:before {
  left: calc(100% - 1.7rem);
  background: #37393f;
  box-shadow: inset -3px -2px 5px -2px #c383f7, inset -10px -4px 0 0 #a3dafb;
}

/************lightmode************/

/************début particles************/

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.background-separation {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  -webkit-background-position: center top;
  background-position: center top;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
  -webkit-background-image: -webkit-linear-gradient(
      45deg,
      #a04bff 0%,
      #5a2497 99%
    ),
    url(../images/background.png);
  background-image: linear-gradient(45deg, #a04bff 0%, #5a2497 99%),
    url(../images/background.png);
}

.languages {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

.languages span {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  background-color: var(--light-darkmode);
  color: var(--background);
}

.services {
  padding: 80px 0 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 70%;
  margin: 24px auto;
  text-align: center;
}

.services-item {
  text-align: center;
  padding: 28px;
  background: var(--light-darkmode);
  margin: 24px 0;
  flex: 0 0 calc(25% - 32px);
  margin: 16px;
}

.services-item i {
  font-size: 80px;
  color: var(--background);
}

.services-item h2 {
  color: var(--background);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
}

.services-item p {
  color: var(--text-color);
}

/************fin particles************/

/************début accueil************/

#header {
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile h1 {
  margin: 15px 0;

  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

.profile img {
  width: 200px;
  filter: drop-shadow(0 2px 4px hsla(0, 0%, 19%, 0.662));
  z-index: 1;
}

.dev {
  letter-spacing: 1px;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  margin-bottom: 20px;
}

.bg-color-purple {
  border: 1px solid var(--purple);
  background-color: #9f4bff15;
  border-radius: 3px;
  color: var(--purple);
  font-weight: 300;
  font-size: 14px;
  padding: 3px 10px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  z-index: 1;
}

.link {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  padding: 16px 12px;
  letter-spacing: 1px;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid rgb(45, 45, 45);
  background-color: #8a42dd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
}

/************accueil************/

/************fixed navbar************/

.fixed-navbar {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin: auto;
  background-color: var(--dark-purple);
  backdrop-filter: blur(15px);
  padding: 15px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px #000;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 22px;
  text-decoration: none;
  color: inherit;
}

.nav-text {
  font-size: 15px;
  margin: auto;
  text-align: center;
  display: none;
  transition: all 0.3s ease;
}

.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: #8d43e0;
  justify-content: flex-start;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

/************fixed navbar************/

/************page portfolio top************/

.top-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.top-portfolio hr {
  width: 200px;
  height: 3px;
  border: none;
  background-color: #555;
  border-radius: 8px;
  margin-bottom: 20px;
}

.title-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.title-portfolio span:last-child {
  background: -webkit-linear-gradient(#a04bff, #55268a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.description-portfolio {
  max-width: 950px;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.CV-Contact {
  letter-spacing: 1px;
  padding: 0px;
  display: flex;
  gap: 8px;
  background-color: transparent;
}

.work-name {
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 1;
}

.work-name1 {
  border: 2px solid var(--dark-purple);
  background-color: none;
}

.work-name1:hover {
  background-color: var(--dark-purplev2);
}

.work-name1 a,
.color-purple {
  color: var(--dark-purple);
}

.work-name2 {
  background-color: var(--dark-purple);
  border: 2px solid var(--dark-purple);
  margin-left: 10px;
}

.work-name2 a{
  color: var(--current-background);
}

.work-name2:hover {
  background-color: var(--dark-purple);
  border: 2px solid var(--dark-purple);
}

/************page portfolio top************/

/************à propos************/

.title h2 {
  font-size: 25px;
}

#propos {
  margin: 50px 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.img-about {
  max-width: 285px;
  width: 100%;
}

.img-about img {
  width: 100%;
  border-radius: 8px;
}

.text-about {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.information-about {
  display: flex;
  align-items: center;
  gap: 50px;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-media-container {
  width: 150px;
}

.social-media i {
  font-size: 28px;
  color: var(--dark-purple);
  cursor: pointer;
}

/************à propos************/

/************skills************/

/************skills************/

/************************cards portfolio************************/

.portfolio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.cards-portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 30px;
}

.cards-portfolio {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
}

.use-languages {
  display: flex;
  gap: 10px;
}

.use-languages span {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}

.container-button-cards-portfolio {
  display: flex;
  gap: 8px;
}

.btn-démo,
.btn-github {
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background-color: var(--purple);
  transition: background-color 0.25s;
}

.btn-démo {
  background-color: var(--purple);
}

.btn-github {
  background-color: var(--dark-purple);
}

.btn-démo:hover {
  background-color: var(--dark-purple);
}

.btn-github:hover {
  background-color: var(--purple);
}

/************************cards portfolio************************/

/************************go back************************/

.container-go-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 16px;
}

.container-go-back i {
  font-size: 80px;
  background: -webkit-linear-gradient(#a04bff, #55268a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-go-back h1 {
  background: -webkit-linear-gradient(#a04bff, #55268a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container-go-back p {
  text-align: center;
  font-size: 15px;
}

.go-back {
  color: var(--background);
  background-color: var(--dark-purple);
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}

.go-back:hover {
  background-color: var(--dark-purplev2);
}
/************************go back************************/

/************footer************/

footer {
  position: relative;
  background: var(--gradient);
  color: var(--current-text-color);
  height: 89vh;
}

.footer-title {
  display: none;
}

.footer-title hr {
  color: var(--background-darkmode);
  width: 100px;
  text-align: center;
}

.footer-title h2 {
  color: var(--background-darkmode);
  margin-bottom: 10px;
}

.map-container {
  position: relative;
  padding-top: 80px;
}

.map-container h2 {
  position: absolute;
  bottom: 100px;
  left: 40px;
  font-size: 30px;
  color: var(--background);
  filter: drop-shadow(0px 0px 3px var(--background-darkmode));
  z-index: 1;
}

#map {
  filter: grayscale(100%) invert(100%);
  width: 100%;
  height: 455px;
  opacity: 0.6;
  z-index: -2;
}

#map.light {
  filter: grayscale(100%);
}

.contact {
  position: absolute;
  top: 0;
  right: 60px;
  background-color: var(--current-background);
  color: var(--current-text-color);
  width: 420px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

#contact-container h3 {
  padding: 30px 30px 0 30px;
}

.footer {
  text-align: center;
  color: var(--current-text-color);
}

/************form************/

.input-container {
  margin: 30px auto;
  padding: 0 30px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.input-container input,
.input-container textarea {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--dark-purple);
  color: var(--current-text-color);
  resize: none;
}

#message {
  height: 48.8px;
}

.input-container .error-txt {
  font-size: 14px;
  margin-top: 6px;
  color: var(--error-color);
  display: none;
}

.input-container input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--dark-purple);
  color: var(--current-text-color);
}

.input-container input:focus {
  outline: none;
}

.input-container textarea {
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--dark-purple);
  color: var(--current-text-color);
}

.input-container textarea:focus {
  outline: none;
}

/************label************/

.input-container label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  color: var(--current-text-color);
}

/* active */
.input-container input:not(:placeholder-shown) ~ label,
.input-container textarea:not(:placeholder-shown) ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--dark-purple);
}
/************bar************/

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  position: absolute;
  background: var(--gradient);
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active */
.input-container input:focus ~ .bar:before,
.input-container input:focus ~ .bar:after {
  width: 50%;
}

.input-container textarea:focus ~ .bar:before,
.input-container textarea:focus ~ .bar:after {
  width: 50%;
}

.input-container textarea {
  overflow-y: scroll;
}

/* webKit browsers */
.input-container textarea::-webkit-scrollbar {
  width: 6px;
  margin: 2px;
}

.input-container textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.input-container textarea::-webkit-scrollbar-track {
  background: transparent var(--dark-purple);
  border-radius: 10px;
}

/* firefox */
.input-container textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-purple) transparent;
}

.button-container-form {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.contact button {
  border: none;
  outline: none;
  background: var(--gradient);
  padding: 10px 40px;
  border-radius: 8px 0px 0px 8px;
  color: var(--background);
  font-size: 16px;
  cursor: pointer;
}

/************footer************/

/************************responsive************************/

/************Mobile************/
@media screen and (max-width: 550px) {
  .CV-Contact {
    gap: 0px;
    flex-direction: column;
    width: 100%;
  }
  .dev {
    flex-direction: column;
    margin-bottom: 22px;
    gap: 12px;
  }
  .bg-color-purple {
    text-align: center;
  }
  .work-name {
    text-align: center;
    padding: 8px 20px;
  }
  .work-name2 {
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
  }
  main {
    padding: 0 30px;
  }
  nav {
    padding: 30px;
  }
  .title-portfolio {
    font-size: 26px;
  }
  .description-portfolio {
    font-size: 16px;
  }
  .nav {
    width: 345px;
  }
  .nav-item {
    padding: 10px;
    font-size: 17px;
  }
  #particles-js {
    display: none;
  }
  .row {
    flex-direction: column;
  }
  .information-about {
    flex-direction: column;
    gap: 26px;
  }
  .img-about img {
    width: 100% !important;
  }
  .container-go-back p {
    font-size: 13px;
  }
  .container-go-back h1 {
    font-size: 25px;
  }
}

/************Tablet************/
@media screen and (max-width: 825px) {
  .about-container {
    flex-direction: column;
  }
  .img-about {
    max-width: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img-about img {
    width: 50%;
  }
  .text-about {
    width: 100%;

    text-align: center;
  }
  .cards-portfolio {
    width: 100%;
    max-width: none;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 20px 135px;
    height: 100%;
  }
  .contact {
    position: static;
    right: auto;
    top: auto;
    width: 100%;
    height: 535px;
    margin: 10px 0;
  }
  .map-container {
    padding-top: 20px;
  }
  .map-container h2 {
    display: none;
  }
  .second-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-desc {
    margin: 25px 0;
  }
  .information-about {
    justify-content: space-between;
  }
}

/************Desktop************/
@media screen and (max-width: 1075px) {
  .cards-portfolio-container {
    justify-content: center;
  }
}

/************************responsive************************/
@media (max-width: 1240px) {
  .services-item {
    flex: 0 0 calc(50% - 32px) !important;
  }
}

@media (max-width: 715px) {
  .services-item {
    flex: 0 0 calc(100% - 32px) !important;
  }
}
