/************general************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 100ms ease;
  font-weight: 400;
}

:root {
  --text-color: #bbbbbb;
  --background-darkmode: #0b0b0b;
  --purple: #a04bff;
  --light-purple: #9f4bffdb;
  --dark-purple: #6d38aa;
  --background: #e8e8e8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
}

ul li {
  list-style-type: none;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-darkmode);
  color: var(--background);
}

body.light {
  background-color: var(--background);
  color: var(--background-darkmode);
}

main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

a {
  color: var(--background-darkmode);
}

a.light {
  color: var(--background-darkmode) !important;
}

#name-top a.light {
  color: var(--background-darkmode) !important;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.my-15 {
  margin: 15px 0px;
}

.mb-15 {
  margin-bottom: 15px;
}

.second-title h3 {
  font-size: 26px;
}

.second-title hr {
  color: var(--dark-purple);
}

/************general************/

/************nav************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: var(--background-darkmode);
  box-shadow: 0 4px 4px hsla(0, 0%, 13.7%, 0.3);
}

nav.light {
  background-color: var(--background);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

#name-top {
  color: var(--text-color);
}

#name-top.light {
  color: var(--background-darkmode);
}

/************nav************/

/* changement de la couleur du body lorsque la class 'dark' est ajoutée */

/* la taille */

.switch {
  position: relative;
  width: 3.5rem;
  height: 2rem;
  margin-left: 35px;
}

/* pour ne plus voir notre checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(215, 215, 228);
  transition: 0.4s;
  border-radius: 30px;
}

/* mode clair */
.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 20px;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #7337b8, #a759ff 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #37393f;
}

input:checked + .slider:before {
  left: calc(100% - 1.7rem);
  background: #37393f;
  box-shadow: inset -3px -2px 5px -2px #c383f7, inset -10px -4px 0 0 #a3dafb;
}

/************darkmode************/

/************accueil************/

.home-container {
  margin: auto;
  max-width: 500px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile h1 {
  margin: 15px 0;

  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

.profile img {
  width: 200px;
  filter: drop-shadow(0 2px 4px hsla(0, 0%, 19%, 0.662));
}

.dev {
  letter-spacing: 1px;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  margin-bottom: 20px;
}

.bg-color-purple {
  border: 1px solid var(--purple);
  background-color: #9f4bff15;
  border-radius: 3px;
  color: var(--purple);
  font-weight: 300;
  font-size: 14px;
  padding: 3px 10px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  padding: 16px 12px;
  letter-spacing: 1px;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid rgb(45, 45, 45);
  background-color: var(--light-purple);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
}

/************accueil************/

/************fixed navbar************/
.fixed-navbar {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin: auto;
  background-color: var(--dark-purple);
  padding: 15px 20px;
  border-radius: 30px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 22px;
  text-decoration: none;
  color: inherit; /* Garde la couleur du texte héritée */
}

.nav-text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  display: none;
  transition: all 0.3s ease;
}

.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: var(--light-purple);
  justify-content: flex-start;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

/************fixed navbar************/

/************page portfolio top************/

.top-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.top-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-portfolio hr {
  width: 200px;
  height: 3px;
  border: none;
  background-color: #555;
  border-radius: 8px;
  margin-bottom: 20px;
}

.title-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.title-portfolio span:last-child {
  background: -webkit-linear-gradient(#a04bff, #55268a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.description-portfolio {
  max-width: 950px;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.CV-Contact {
  letter-spacing: 1px;
  padding: 0px;
  display: flex;
  gap: 8px;
  background-color: transparent;
  margin-bottom: 20px;
}

.work-name {
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.work-name1 {
  border: 1px solid var(--purple);
  background-color: #9f4bff15;
}

.work-name1 a,
.color-purple {
  color: var(--purple);
}

.work-name2 {
  background-color: var(--purple);
  border: 1px solid var(--purple);
  margin-left: 10px;
}

/************page portfolio top************/

/************skills************/

.container-skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 22px;
}

.card-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 352px;
}

.flex-skills {
  display: flex;
  gap: 10px;
}

.icon-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.icon-skill i {
  background-color: var(--dark-purple);
  padding: 12px;
  border-radius: 10px;
}

.skills-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.bg-color-white {
  border: 1px solid var(--text-color);
  background-color: var(--card-icon-background-color);
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
  padding: 3px 10px;
}

/************skills************/

/************************cards portfolio************************/

.cards-portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
  padding: 20px 0;
}

.cards-portfolio {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
}

.use-languages {
  display: flex;
  gap: 10px;
}

.use-languages span {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}

.container-button-cards-portfolio {
  display: flex;
  gap: 8px;
}

.btn-démo,
.btn-github {
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background-color: var(--purple);
  transition: background-color 0.25s;
}

.btn-démo {
  background-color: var(--purple);
}

.btn-github {
  background-color: var(--dark-purple);
}

.btn-démo:hover {
  background-color: var(--dark-purple);
}

.btn-github:hover {
  background-color: var(--purple);
}

/************************cards portfolio************************/

/************footer************/

/************footer************/

/************************responsive************************/

/************Mobile************/
@media screen and (max-width: 550px) {
  .CV-Contact {
    gap: 0px;
    flex-direction: column;
  }

  .dev {
    flex-direction: column;
    margin-bottom: 22px;
    gap: 12px;
  }

  .bg-color-purple {
    text-align: center;
  }

  .work-name {
    text-align: center;
    padding: 8px 20px;
  }

  .work-name2 {
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
  }

  main {
    padding: 30px;
  }

  nav {
    padding: 30px;
  }

  .title-portfolio {
    font-size: 28px;
  }

  .description-portfolio {
    font-size: 16px;
  }

  .nav {
    width: 300px;
  }

  .nav-text {
    font-size: 15px;
  }

  .nav-item {
    padding: 10px;
    font-size: 17px;
  }

  .cards-portfolio {
    width: 100%;
    max-width: none;
  }
}

/************Tablet************/
@media screen and (max-width: 768px) {
}

/************Desktop************/
@media screen and (max-width: 1075px) {
  .cards-portfolio-container {
    justify-content: center;
  }
}

@media screen and (max-width: 1210px) {
}

/************Huge************/
@media screen and (min-width: 1280px) {
}

/************************responsive************************/
