@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Carrois Gothic;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 200ms ease;
}

body {
  background-color: var(--background-darkmode);
  color: var(--background);
}

body.light {
  background-color: var(--background);
  color: var(--background-darkmode);
}

:root {
  --white: #ffffff;
  --text-color: #bbbbbb;
  --light-gray: #232323;
  --gray: #333333;
  --dark-gray: rgb(28, 28, 28);
  --purple: #a04bff;
  --light-purple: #9f4bffb2;
  --background-darkmode: #1f1f1f;
  --background: #f0f0f0;
  --black: #000000;
}

a {
  color: var(--white);
}
/************nav************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: var(--background-darkmode);
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.3);
}

nav.light {
  background-color: var(--background);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

/************nav************/

/* changement de la couleur du body lorsque la class 'dark' est ajoutée */

/* la taille */
.switch {
  position: relative;
  width: 3.5rem;
  height: 2rem;
  margin-left: 35px;
}

/* pour ne plus voir notre checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(215, 215, 228);
  transition: 0.4s;
  border-radius: 30px;
}

/* mode clair */
.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 20px;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #7337b8, #a759ff 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #37393f;
}

input:checked + .slider:before {
  left: calc(100% - 1.7rem);
  background: #37393f;
  box-shadow: inset -3px -2px 5px -2px #c383f7, inset -10px -4px 0 0 #a3dafb;
}

/************darkmode************/

/************accueil************/

.container {
  margin: 75px 50px;
}

.home-container {
  margin: auto;
  max-width: 500px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile h1 {
  margin: 15px 0;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

.profile img {
  width: 200px;
  filter: drop-shadow(0 2px 4px hsla(0, 0%, 44%, 0.662));
}

.dev {
  letter-spacing: 1px;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  background-color: transparent;
  margin-bottom: 20px;
}

.work-name {
  font-weight: 200;
  font-size: 13px;
  color: var(--purple);
  border: 1px solid var(--purple);
  padding: 3px 6px;
  border-radius: 2px;
  background-color: #9f4bff15;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  width: 100%;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  padding: 16px 12px;
  letter-spacing: 1px;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid rgb(45, 45, 45);
  background-color: var(--light-purple);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
}

/* stars */

.top-title {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-wrapper-title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 75px;
  margin-bottom: 20px;
}

.hero-wrapper-title span:last-child {
  background: -webkit-linear-gradient(#a04bff, #55268a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-wrapper-description {
  max-width: 750px;
  line-height: 1.2;
  font-size: 20px;
}

.starry-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.star {
  border-radius: 50%;
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: var(--text-color);
  box-shadow: 0 0 5px var(--text-color);
}

/* stars */

/************accueil************/
